<div class="person-item">
  <div class="person-image-container">
    <% if resource.profile_path %>
      <img src="https://image.tmdb.org/t/p/w92/<%= resource.profile_path %>">
    <% else %>
      <%= icon('fas', 'user', class: 'text-black-50 fa-2x') %>
    <% end %>
  </div>

  <div class="person-content">
    <%= link_to_resource_modal(resource) do %>
      <h5 class="mb-0"><%= resource.name %></h5>
    <% end %>

    <div class="person-known-for">
      <%= t(".known_for_department.#{resource.known_for_department&.downcase}") %> •
      <%= resource.known_for.map { |r| r.title || r.name }.join(', ') %>
    </div>
  </div>
</div>

<%= render 'person_modal', resource: resource %>
