<%= form_with method: :get, class: 'mb-4', local: false do |f| %>
  <div class="input-group search-input-group">
    <span class="input-group-text"><%= icon('fas', 'search') %></span>
    <%= f.text_field :query, class: 'form-control', placeholder: t('.search_placeholder'), value: params[:query] %>
  </div>
<% end %>

<div class="row g-4">
  <div class="col-md-3">
    <div id="search-filter">
      <%= render 'filter' %>
    </div>
  </div>

  <div class="col-md-9">
    <div id="search-results">
      <%= render_result(@response) %>
    </div>
  </div>
</div>
