<% date = movie_or_tv_show_date(resource) %>

<div class="modal fade" id="<%= generate_modal_id(resource) %>">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="float-start w-25 me-3">
          <% if resource.poster_path.present? %>
            <img src="https://image.tmdb.org/t/p/w342/<%= resource.poster_path %>" class="rounded w-100">
          <% else %>
            <div class="modal-image-placeholder">
              <%= icon('fas', 'image', class: 'text-black-50 fa-2x') %>
            </div>
          <% end %>
        </div>

        <div>
          <button type="button" class="btn-close float-end ms-2" data-bs-dismiss="modal"></button>

          <h3>
            <%= movie_or_tv_show_name(resource) %>

            <% if date %>
              <small class="text-muted">(<%= date.strftime('%Y') %>)</small>
            <% end %>
          </h3>

        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center my-3 me-4">
            <%= icon('fas', 'star', class: 'fa-lg text-warning me-2') %>

            <div class="movie-or-tv-show-modal-rating">
              <h5>
                <%= resource.vote_average %><small class="text-muted">/10</small>
              </h5>

              <small class="d-block"><%= number_with_delimiter resource.vote_count %></small>
            </div>
          </div>

          <%= favorite_icon(resource) if resource.is_a?(Movie) %>
        </div>

          <% if resource.overview.present? %>
            <strong><%= t('.overview') %></strong>
            <p><%= resource.overview %></p>
          <% end %>
        </div>

        <% if controller_name == 'local_movies' %>
          <div class="mt-5 d-flex justify-content-end">
            <%= link_to t('.destroy'),
              local_movie_path(resource),
              method: :delete,
              class: 'btn btn-danger me-1',
              data: { confirm: t('.destroy_confirm') } %>

            <%= link_to t('.edit'), edit_local_movie_path(resource), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
